.hero-section{
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 20rem;
}

.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.section-main{
    width: 100vh;
}

.text-intro{
    max-width: 100%;
    display: flex;
    justify-content: center;
    display: block;
    flex-wrap: wrap;
    gap: 1rem;
}

.line{
    width: 100%;
    display: flex;
    align-content: space-between;
}

.line img{
    width: 5rem;
    height: auto;
}
