#title{
    grid-column-start: 5;
    grid-column-end: six;
    grid-row-start: 7;
    grid-row-end: 10;
    align-items: center;
}

#mark2{
    width: 20rem;
    transform: scale(-1,1);
}

/* Hero Intro */
.container-main{
    grid-column-start: 2;
    grid-column-end: five;
}

#hero-intro{
    grid-column-start: 3;
    grid-column-start: ten;
    grid-row-start: 10;
    grid-row-end: 5;
}


/* Button - About Me */
.btn{
    background-color: #F6F2EC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
}

.btn-text{
    color: #2E1E1B;
}


